<% if @list.photo.attached? %>
  <div class="show-header" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @list.photo.key, height: 300, crop: :fill %>')">
    <h1><%= @list.name %></h1>
  </div>
<% else %>
  <div class="show-header" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://images.unsplash.com/photo-1485846234645-a62644f84728?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2840&q=80')">
    <h1><%= @list.name %></h1>
  </div>
<% end %>

<div class="container text-center">
  <%= link_to '➕ Add new movie', new_list_bookmark_path(@list), class: 'mb-5 btn btn-primary' %>
  <div class="row justify-content-center mb-5">
    <% @list.bookmarks.each do |bookmark| %>
      <div class="card col-12 col-md-4 col-lg-3 m-3 pt-3">
        <img src="<%= bookmark.movie.poster_url %>" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= bookmark.movie.title %></h5>
          <p class="card-text"><%= bookmark.movie.overview %></p>
          <p class="card-text d-flex justify-content-start">⭐ <%= bookmark.movie.rating %></p>
          <div class="d-flex justify-content-between">
            <p>❝ <%= bookmark.comment %></p>
            <%= link_to '🗑️', bookmark_path(bookmark), method: :delete, data: { confirm: 'Are u sure ?' } %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <%= link_to "Delete list", list_path(@list), method: :delete, data: { confirm: "Are you sure?" }, class:'text-danger' %>
  |
  <%= link_to "Rename list", edit_list_path, class: 'text-warning' %>
  |
  <%= link_to "Back to lists", lists_path, class: 'text-secondary' %>
</div>
