<div class="container">
  <h1><%= @list.name %></h1>

  <div class="container">
    <% @list.bookmarks.each do |bookmark| %>
      <div class="card" style="width: 18rem;">
        <img src="<%= bookmark.movie.poster_url %>" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= bookmark.movie.title %></h5>
          <p class="card-text"><%= bookmark.movie.overview %></p>
          <p><%= bookmark.comment %></p>
          <div class="btn">
            <%= link_to 'ðŸ—‘ï¸', bookmark_path, method: :delete, data: { confirm: 'Are u sure ?' } %>
          </div>
        </div>
    <% end %>
      </div>
        </div>
    </div>

    <div class="form-content">
      <%= simple_form_for([@list, @bookmark]) do |f| %>
        <%= f.association :movie %>
        <%= f.input :comment %>
        <%= f.submit 'Add movie'%>
      <% end %>
    </div>
  </div>

  <%= link_to "Delete", list_path(@list), method: :delete, data: { confirm: "Are you sure?" } %>
  |
  <%= link_to "Edit list", edit_list_path %>
  |
  <%= link_to "Back to Lists", lists_path %>

</div>
