<header>
  <h1><%= @list.name %></h1>
</header>

<div class="container text-center">
  <%= link_to '➕ Add new movie', new_list_bookmark_path(@list), class: 'mb-5 btn btn-primary' %>
  <div class="row justify-content-center mb-5">
    <% @list.bookmarks.each do |bookmark| %>
      <div class="card col-12 col-md-4 col-lg-3 m-3">
        <img src="<%= bookmark.movie.poster_url %>" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= bookmark.movie.title %></h5>
          <p class="card-text"><%= bookmark.movie.overview %></p>
          <div class="d-flex justify-content-between">
            <p>❝ <i><%= bookmark.comment %></i></p>
            <%= link_to '🗑️', bookmark_path(bookmark), method: :delete, data: { confirm: 'Are u sure ?' } %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <%= link_to "Delete list", list_path(@list), method: :delete, data: { confirm: "Are you sure?" }, class:'text-danger' %>
  |
  <%= link_to "Rename list", edit_list_path, class: 'text-warning' %>
  |
  <%= link_to "Back to lists", lists_path, class: 'text-secondary' %>
</div>
